.inputFlex {
    position:absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}

.guessButton {
    background-color: #1A202C;
    border-radius: 15px;
    padding: 5px 15px;
    margin-left: 10px;
}

  .list {
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    max-height: 100px;
    overflow: scroll;
  }
  .list-item {
    color: #1A202C;
  }
  .list-item :hover {
    background-color: gray;
  }
