.inputFlex {
    position:fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.guessButton {
    background-color: #1A202C;
    border-radius: 15px;
    padding: 5px 15px;
}
