/*nav bar styles*/

.navbar-container {
    padding: 10px 0px;
}

.navbar-container h1 {
    font-weight: bolder;
}

.navbar-box {
    width: 33%;
    height: 100%;
    padding-top: 3vh;
    display: flex;
    justify-content: center;
}

h1 {
    padding-top: 5px;
}